:root{

    --text-color: #fe7867;
    --link-color: #fad400;
    --background-color: #25564b;
}

*{
    margin: 0;
    padding: 0;

}

html{
    scroll-behavior: smooth;
}
body{
    font-size: 18px;
    font-family: "Barlow","Fraunces", sans-serif;
}
h2{
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #fe7867;
}

/*Section 0: Navbar*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 14px 14px 0 0;
    background-color: #001837;
    opacity: 0.8;
    padding: 10px 20px 10px 20px; 
}

.logo img{
    width: 120px;
    height: auto;
    color: #fff;
}

.menubar a{
padding: 20px;
text-decoration: none;
font-size: 18px;
color: #fff;

}
.menubar a:hover{
    color: #fe7867;
}

/*Section 1: hero*/
.section-hero{
    background-image: url(img/bg2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-align: center;
    opacity: 10;

}

.section-hero .text{
    margin-top: 250px;
    width: 50%;
    color: azure;
 
}
.section-hero .text h1{
    padding: 18px;
    font-family: "Barlow", sans-serif;
    font-size: 24px;
}

.section-hero .text p{
    padding-bottom: 50px;
    font-family: 'Fraunces', sans-serif;
    font-size: 18px;
}

.section-hero .call-to-action {
    background-color: #001837;
    border-radius: 25px;
    padding: 8px;
    text-decoration: none;
    color: antiquewhite;
}

button a{
    text-decoration: none;
    color: antiquewhite;
}

/*
.header{
    background-image: url(img/bgimg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    border-radius:  14px 14px 0 0;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.header .text{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;  
}

.header .text .call-to-action{
    background-color: #25564b;
    opacity: 0.8;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 8px;
}
*/

/*Section 2: Services*/
.section-services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #011b3d;
  color: #fff;
}

.section-services .our-services{
    display: flex;
    margin-top: 20px;
}

.our-services #bg1{
    background-color: #25564b;
}

.our-services #bg2{
    background-color: #0a0a0a63;
}
.our-services i{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: 32px;
}

.service h2{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.service{
    padding: 50px;
    align-items: center;
    align-content: center; 
}

/*Section 3: contact*/
.section-contact{
     background-color: #223D6E;
}
/*
.contact-box{
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #223D6E;
   
}
.section-contact .contact-box{
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #223D6E;
}

.section-contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #25564b;
    padding-left: 18px;
    padding-right: 18px;
}

.section-contact-form{
    background-color: #011b3d;
    color: #fff;
}

.section-contact .info h2{
padding-bottom: 15px;
}

.section-contact form{
    padding: 50px;
     display: flex;
     flex-direction: row;
 }
 
 .section-contact .section-contact-form form input, .section-contact-form .contact-fom form textarea{ 
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
 }
*/
/*Section 4: footer*/
.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 0 0 14px 14px ;
    background-color: #001837;
    opacity: 0.8;
    padding: 10px 20px 10px 20px;
}

img{
    width: 120px;
    height: auto;
    filter: grayscale(100%);
}

.footer-section img{
    width: 80px;
    height: auto;
    filter: grayscale(100%);
}

img:hover{
    filter: none;
}

#copywrite{
color: #fff;
}

#privacy{
    font-size: 14px;
}