:root{

    --text-color: #fe7867;
    --link-color: #fad400;
    --background-color: #25564b;
}

*{
    margin: 0;
    padding: 0;

}

html{
    scroll-behavior: smooth;
}
body{
    font-size: 18px;
    font-family: "Barlow","Fraunces", sans-serif;
}
h2{
    font-size: 18px;
}

/*Section 0: Navbar*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 14px 14px 0 0;
    background-color: #25564b;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    padding: 0, 10px, 0, 10px;
}

.logo img{
    width: 120px;
    height: auto;
}

.menubar a{
padding: 20px;
text-decoration: none;
font-size: 18px;
color: var(--text-color);

}
/*Section 0: Navbar*/
.section-hero{
    background-image: url(img/bgimg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-align: center;

}

.section-hero .text{
    margin-top: 250px;
    width: 50%;
 
}
.section-hero .text h1{
    padding: 18px;
    font-family: "Barlow", sans-serif;
    font-size: 24px;
}

.section-hero .text p{
    padding-bottom: 50px;
    font-family: 'Fraunces', sans-serif;
    font-size: 18px;
}

.section-hero .call-to-action {
    background-color: #fe7867;
    border-radius: 25px;
    padding: 8px;
    color: antiquewhite;
}


/*
.header{
    background-image: url(img/bgimg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    border-radius:  14px 14px 0 0;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.header .text{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;  
}

.header .text .call-to-action{
    background-color: #25564b;
    opacity: 0.8;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 8px;
}


/*Section 2: Services*/
.section-services{
    background-color: #fae2dfda;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}


.service{
    padding: 50px;
    align-items: center;
    align-content: center; 
}
/*Section 2: Services*/
.section-contact{
    padding: 50px;
    background-color: #fcefa9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-contact form{
    padding: 50px;
     display: flex;
     flex-direction: column;
 }
 

/*Section 2: Services*/
.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 0 0 14px 14px ;
    background-color: #25564b;
    opacity: 0.8;
    width: 100%;
    padding: 0, 10px, 0, 10px;
}

img{
    width: 120px;
    height: auto;
}
*/